<h1> Add Book </h1>
<form action = "/books/post" method = "POST"> 
    <input type = "text" name = "name">
    <input type = "text" name = "author">
    <button><a href = "/books"> Cancel </a></button>
    <button type = "submit"> Submit </button>
</form>